<head>
	<title> {{ title }} | Nodomo</title>

	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	
	<script src="/js/jquery-1.10.2.min.js"></script>
</head>